.NewNote-textarea {
  width: 50%;
  height: 300px;
}

.NewNote-titleInput {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.NewNote-dropzone {
  width: 400px;
}

.NewNote-card {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.NewNote-uploadButton {
  margin-bottom: 15px;
}

.NewNote-hashDisplay {
  margin-bottom: 15px;
  color: #0f9960;
}

.NewNote-createProof {
  margin-right: 10px;
}

.NewNote-error {
  color: #a82a2a;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.NewNote-bottomRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.NewNote-bottomRow .bp3-spinner {
  vertical-align: middle;
}

.NewNote-container textarea.bp3-input {
  display: block;
  width: 400px;
  height: 300px;
}
